<!--@subject {{var store.getFrontendName()}}: Order # {{var order.increment_id}} for {{var order.customer_firstname}} {{var order.customer_lastname}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"supplier_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->


<div>
    <strong>Customer Order Reference:</strong> {{var order.increment_id}}
</div>

<div>
    <p>Order Date: {{var order.getCreatedAtFormated('long')}}</p>
</div>

<div>
<p><strong>Vine House Farm</strong></p>
<p>Deeping St Nicholas, Spalding,</p>
<p>Lincolnshire, PE11 3DG</p>
</div>

<div>
<p><strong>Dispatch to:</strong></p>
<p>{{var order.getCustomerName}}</p>
<p>{{var order.getShippingAddress().format('html')}}</p>
</div>

<div>
    {{layout handle="supplier_email_order_items" order=$order}}
</div>

<div>
<p>Thank you.</p>
<p>If there is a problem with this order please reply to this email or call 01775 630208.</p>
</div>

