<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Ukmail>
            <version>1.0.2</version>
        </Vinehousefarm_Ukmail>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Ukmail before="Mage_Adminhtml">Vinehousefarm_Ukmail_Adminhtml</Vinehousefarm_Ukmail>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ukmail>
                    <file>vinehousefarm/ukmail.xml</file>
                </ukmail>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ukmail>
                <class>Vinehousefarm_Ukmail_Model</class>
                <resourceModel>ukmail_resource</resourceModel>
            </ukmail>
            <ukmail_resource>
                <class>Vinehousefarm_Ukmail_Model_Resource</class>
                <entities>
                    <postcode>
                        <table>ukmail_postcode</table>
                    </postcode>
                    <country>
                        <table>ukmail_country</table>
                    </country>
                    <label>
                        <table>ukmail_labels</table>
                    </label>
                </entities>
            </ukmail_resource>
        </models>
        <helpers>
            <ukmail>
                <class>Vinehousefarm_Ukmail_Helper</class>
            </ukmail>
        </helpers>
        <blocks>
            <ukmail>
                <class>Vinehousefarm_Ukmail_Block</class>
            </ukmail>
        </blocks>
        <resources>
            <ukmail_setup>
                <setup>
                    <module>Vinehousefarm_Ukmail</module>
                </setup>
            </ukmail_setup>
        </resources>
        <events>
            <order_cancel_after>
                <observers>
                    <ukmail>
                        <type>singleton</type>
                        <class>Vinehousefarm_Ukmail_Model_Observer</class>
                        <method>orderCancelAfter</method>
                    </ukmail>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <default>
        <carriers>
            <ukmail>
                <active>1</active>
                <sallowspecific>1</sallowspecific>
                <model>ukmail/carrier</model>
                <name>UK Mail</name>
                <price>0.00</price>
                <title>UK Mail</title>
                <service_key>1</service_key>
                <signature_service>1</signature_service>
                <confirmation_of_delivery>0</confirmation_of_delivery>
                <pre_delivery_notification>NonRequired</pre_delivery_notification>
                <exchange_on_delivery>0</exchange_on_delivery>
                <extended_cover>0</extended_cover>
                <signature_optional>0</signature_optional>
                <long_length>0</long_length>
                <label_width>6</label_width>
                <label_height>4</label_height>
            </ukmail>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <ukmail_postcode>
                <schedule>
                    <cron_expr>0 0 * * 6</cron_expr>
                </schedule>
                <run>
                    <model>ukmail/cron::updatePostcode</model>
                </run>
            </ukmail_postcode>
            <ukmail_country>
                <schedule>
                    <cron_expr>0 1 * * 6</cron_expr>
                </schedule>
                <run>
                    <model>ukmail/cron::updateCountry</model>
                </run>
            </ukmail_country>
        </jobs>
    </crontab>
</config>