<?xml version="1.0"?>

<config>
    <modules>
        <Newedge_OrderSource>
            <version>1.0.0</version>
        </Newedge_OrderSource>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <ordersource>
                    <file>newedge_ordersource.xml</file>
                </ordersource>
            </updates>
        </layout>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <newedge_ordersource>
                        <type>model</type>
                        <class>Newedge_OrderSource_Model_Observer</class>
                        <method>saveCustomData</method>
                    </newedge_ordersource>
                </observers>
            </checkout_submit_all_after>
            <sales_order_grid_collection_load_before>
                <observers>
                    <newedge_extendgrid>
                        <model>Newedge_OrderSource_Model_Observer</model>
                        <method>extendOrderViewGrid</method>
                    </newedge_extendgrid>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>
    <global>
        <helpers>
            <newedge_ordersource>
                <class>Newedge_OrderSource_Helper</class>
            </newedge_ordersource>
        </helpers>
        <blocks>
            <newedge_ordersource_adminhtml>
                <class>Newedge_OrderSource_Block_Adminhtml</class>
            </newedge_ordersource_adminhtml>
            <newedge_ordersource_orders>
                <class>Newedge_OrderSource_Block</class>
            </newedge_ordersource_orders>
        </blocks>
        <models>
            <newedge_ordersource>
                <class>Newedge_OrderSource_Model</class>
                <resourceModel>newedge_ordersource_resource</resourceModel>
            </newedge_ordersource>
            <newedge_ordersource_resource>
                <class>Newedge_OrderSource_Model_Resource</class>
                <entities>
                    <source>
                        <table>order_moto_source</table>
                    </source>
                </entities>
            </newedge_ordersource_resource>
        </models>
        <resources>
            <newedge_ordersource_setup>
                <setup>
                    <module>Newedge_OrderSource</module>
                </setup>
            </newedge_ordersource_setup>
        </resources>
        <fieldsets>
            <sales_flat_order>
                <order_moto_source><to_order>*</to_order></order_moto_source>
            </sales_flat_order>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <newedge_ordersource_admin>
                <use>admin</use>
                <args>
                    <module>Newedge_OrderSource</module>
                    <frontName>ordersources</frontName>
                </args>
            </newedge_ordersource_admin>
        </routers>
    </admin>
</config>