<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Productvideo>
            <version>0.1.0</version>
        </Vinehousefarm_Productvideo>
    </modules>
    <global>
        <models>
            <productvideo>
                <class>Vinehousefarm_Productvideo_Model</class>
                <resourceModel>productvideo_resource</resourceModel>
            </productvideo>
            <productvideo_resource>
                <class>Vinehousefarm_Productvideo_Model_Resource</class>
                <entities>
                    <video>
                        <table>productvideo_video</table>
                    </video>
                    <video_product>
                        <table>productvideo_video_product</table>
                    </video_product>
                </entities>
            </productvideo_resource>
        </models>
        <blocks>
            <productvideo>
                <class>Vinehousefarm_Productvideo_Block</class>
            </productvideo>
        </blocks>
        <helpers>
            <productvideo>
                <class>Vinehousefarm_Productvideo_Helper</class>
            </productvideo>
        </helpers>
        <resources>
            <productvideo_setup>
                <setup>
                    <module>Vinehousefarm_Productvideo</module>
                </setup>
            </productvideo_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Productvideo before="Mage_Adminhtml">Vinehousefarm_Productvideo_Adminhtml</Vinehousefarm_Productvideo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productvideo>
                    <file>vinehousefarm/productvideo.xml</file>
                </productvideo>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <productvideo>
                        <type>singleton</type>
                        <class>productvideo/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </productvideo>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <productvideo>
                    <files>
                        <default>Vinehousefarm_Productvideo.csv</default>
                    </files>
                </productvideo>
            </modules>
        </translate>
    </adminhtml>
</config>