<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Deliverydate>
            <version>1.0.3</version>
        </Vinehousefarm_Deliverydate>
    </modules>
    <global>
        <models>
            <vinehousefarm_deliverydate>
                <class>Vinehousefarm_Deliverydate_Model</class>
                <resourceModel>vinehousefarm_deliverydate_resource</resourceModel>
            </vinehousefarm_deliverydate>
            <vinehousefarm_deliverydate_resource>
                <class>Vinehousefarm_Deliverydate_Model_Resource</class>
                <entities>
                    <vinehousefarm_deliverydate>
                        <table>vinehousefarm_deliverydate</table>
                    </vinehousefarm_deliverydate>
                </entities>
            </vinehousefarm_deliverydate_resource>
            <SalesOrderPlanning>
                <rewrite>
                    <Planning>Vinehousefarm_Deliverydate_Model_SalesOrderPlanning_Planning</Planning>
                </rewrite>
            </SalesOrderPlanning>
        </models>
        <blocks>
            <vinehousefarm_deliverydate>
                <class>Vinehousefarm_Deliverydate_Block</class>
            </vinehousefarm_deliverydate>
            <sales>
                <rewrite>
                    <order_info>Vinehousefarm_Deliverydate_Block_Order_Info</order_info>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <vinehousefarm_deliverydate>
                <class>Vinehousefarm_Deliverydate_Helper</class>
            </vinehousefarm_deliverydate>
            <SalesOrderPlanning>
                <rewrite>
                    <Holidays>Vinehousefarm_Deliverydate_Helper_SalesOrderPlanning_Holidays</Holidays>
                </rewrite>
            </SalesOrderPlanning>
        </helpers>
        <resources>
            <vinehousefarm_deliverydate_setup>
                <setup>
                    <module>Vinehousefarm_Deliverydate</module>
                </setup>
            </vinehousefarm_deliverydate_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <vinehousefarm_deliverydate>
                <use>standard</use>
                <args>
                    <module>Vinehousefarm_Deliverydate</module>
                    <frontName>deliverydate</frontName>
                </args>
            </vinehousefarm_deliverydate>
        </routers>
        <layout>
            <updates>
                <vinehousefarm_deliverydate>
                    <file>vinehousefarm/deliverydate.xml</file>
                </vinehousefarm_deliverydate>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <vinehousefarm_deliverydate>
                        <type>singleton</type>
                        <class>Vinehousefarm_Deliverydate_Model_Observer</class>
                        <method>checkoutControllerOnepageSaveShippingMethod</method>
                    </vinehousefarm_deliverydate>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_order_save_after>
                <observers>
                    <vinehousefarm_deliverydate>
                        <type>model</type>
                        <class>Vinehousefarm_Deliverydate_Model_Observer</class>
                        <method>salesOrderAddressSaveAfter</method>
                    </vinehousefarm_deliverydate>
                </observers>
            </sales_order_save_after>
        </events>
    </frontend>
    >
    <default>
        <vinehousefarm_deliverydate>
            <vinehousefarm_deliverydate_general>
                <enabled>0</enabled>
                <deliverydate_format>d/M/Y</deliverydate_format>
                <deliverytime_format>g:i a</deliverytime_format>
                <deliverydate_dayoff></deliverydate_dayoff>
            </vinehousefarm_deliverydate_general>
        </vinehousefarm_deliverydate>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Deliverydate before="Mage_Adminhtml">Vinehousefarm_Deliverydate_Adminhtml</Vinehousefarm_Deliverydate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vinehousefarm_deliverydate>
                    <file>vinehousefarm/deliverydate.xml</file>
                </vinehousefarm_deliverydate>
            </updates>
        </layout>
        <events>
            <sales_order_save_after>
                <observers>
                    <vinehousefarm_deliverydate>
                        <type>model</type>
                        <class>Vinehousefarm_Deliverydate_Model_Observer</class>
                        <method>salesOrderSaveAfter</method>
                    </vinehousefarm_deliverydate>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <vinehousefarm_deliverydate>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>vinehousefarm_deliverydate/cron::futureOrders</model>
                </run>
            </vinehousefarm_deliverydate>
        </jobs>
    </crontab>
</config>