<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Common>
            <version>1.0.10</version>
        </Vinehousefarm_Common>
    </modules>
    <global>
        <models>
            <vinehousefarm_common>
                <class>Vinehousefarm_Common_Model</class>
                <resourceModel>vinehousefarm_common_resource</resourceModel>
            </vinehousefarm_common>
            <vinehousefarm_common_resource>
                <class>Vinehousefarm_Common_Model_Resource</class>
            </vinehousefarm_common_resource>
            <shipping>
                <rewrite>
                    <config>Vinehousefarm_Common_Model_Shipping_Config</config>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address>Vinehousefarm_Common_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <Orderpreparation>
                <rewrite>
                    <Pdf_PickingList>Vinehousefarm_Common_Model_Orderpreparation_Pdf_PickingList</Pdf_PickingList>
                </rewrite>
            </Orderpreparation>
        </models>
        <blocks>
            <vinehousefarm_common>
                <class>Vinehousefarm_Common_Block</class>
            </vinehousefarm_common>
            <adminhtml>
                <rewrite>
                    <customer_group_edit_form>Vinehousefarm_Common_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
            <AdvancedStock>
                <rewrite>
                    <Product_Widget_Grid_Column_Renderer_StockSummary>Vinehousefarm_Common_Block_AdvancedStock_Product_Widget_Grid_Column_Renderer_StockSummary</Product_Widget_Grid_Column_Renderer_StockSummary>
                    <Adminhtml_Catalog_Product_Grid>Vinehousefarm_Common_Block_AdvancedStock_Adminhtml_Catalog_Product_Grid</Adminhtml_Catalog_Product_Grid>
                </rewrite>
            </AdvancedStock>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Vinehousefarm_Common_Block_AdvancedStock_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <sales_order_create_search_grid>Vinehousefarm_Authoriselist_Block_Adminhtml_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <vinehousefarm_common>
                <class>Vinehousefarm_Common_Helper</class>
            </vinehousefarm_common>
        </helpers>
        <resources>
            <vinehousefarm_common_setup>
                <setup>
                    <module>Vinehousefarm_Common</module>
                    <class>Vinehousefarm_Common_Model_Resource_Setup</class>
                </setup>
            </vinehousefarm_common_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <customer_group_save_before>
                <observers>
                    <vinehousefarm_common>
                        <type>singleton</type>
                        <class>Vinehousefarm_Common_Model_Observer</class>
                        <method>customerGroupSaveBefore</method>
                    </vinehousefarm_common>
                </observers>
            </customer_group_save_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_postdispatch_checkout_onepage_saveBilling>
                <observers>
                    <vinehousefarm_common>
                        <type>singleton</type>
                        <class>vinehousefarm_common/observer</class>
                        <method>controllerActionPostdispatchCheckoutOnepageSaveBilling</method>
                    </vinehousefarm_common>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveBilling>

            <controller_action_postdispatch_checkout_onepage_saveShipping>
                <observers>
                    <vinehousefarm_common>
                        <type>singleton</type>
                        <class>vinehousefarm_common/observer</class>
                        <method>controllerActionPostdispatchCheckoutOnepageSaveBilling</method>
                    </vinehousefarm_common>
                </observers>
            </controller_action_postdispatch_checkout_onepage_saveShipping>
        </events>
        <layout>
            <updates>
                <vinehousefarm_common>
                    <file>vinehousefarm/common.xml</file>
                </vinehousefarm_common>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <vinehousefarm_common before="Mage_Checkout">Vinehousefarm_Common</vinehousefarm_common>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <default>
        <vinehousefarm>
            <vinehousefarm_general>
                <default_shipping>premiumzone</default_shipping>
                <dropship_name>Drop Ship Test</dropship_name>
                <dropship_email>dropshi@test.com</dropship_email>
            </vinehousefarm_general>
        </vinehousefarm>
    </default>
</config>