<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Authoriselist>
            <version>1.0.6</version>
        </Vinehousefarm_Authoriselist>
    </modules>
    <global>
        <models>
            <authoriselist>
                <class>Vinehousefarm_Authoriselist_Model</class>
                <resourceModel>authoriselist_resource</resourceModel>
            </authoriselist>
            <authoriselist_resource>
                <class>Vinehousefarm_Authoriselist_Model_Resource</class>
            </authoriselist_resource>
            <AdvancedStock>
                <rewrite>
                    <Observer>Vinehousefarm_Authoriselist_Model_AdvancedStock_Observer</Observer>
                </rewrite>
            </AdvancedStock>
        </models>
        <blocks>
            <authoriselist>
                <class>Vinehousefarm_Authoriselist_Block</class>
            </authoriselist>
            <adminhtml>
                <rewrite>
                    <sales_order_create_items_grid>Vinehousefarm_Authoriselist_Block_Adminhtml_Sales_Order_Create_Items_Grid</sales_order_create_items_grid>
                    <sales_order_create_form_address>Vinehousefarm_Authoriselist_Block_Adminhtml_Sales_Order_Create_Form_Address</sales_order_create_form_address>
                    <sales_order_create_giftmessage_form>Vinehousefarm_Authoriselist_Block_Adminhtml_Sales_Order_Create_Giftmessage_Form</sales_order_create_giftmessage_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <authoriselist>
                <class>Vinehousefarm_Authoriselist_Helper</class>
            </authoriselist>
            <Orderpreparation>
                <rewrite>
                    <PickingList>Vinehousefarm_Authoriselist_Helper_Orderpreparation_PickingList</PickingList>
                </rewrite>
            </Orderpreparation>
            <AdvancedStock>
                <rewrite>
                    <Router>Vinehousefarm_Authoriselist_Helper_AdvancedStock_Router</Router>
                </rewrite>
            </AdvancedStock>
            <sagepaysuite>
                <rewrite>
                    <data>Vinehousefarm_Authoriselist_Helper_SagePaySuite_Data</data>
                    <data>Vinehousefarm_Authoriselist_Helper_SagePaySuite_Data</data>
                </rewrite>
            </sagepaysuite>
        </helpers>
        <resources>
            <authoriselist_setup>
                <setup>
                    <module>Vinehousefarm_Authoriselist</module>
                </setup>
            </authoriselist_setup>
        </resources>
        <events>
            <!--<sales_model_service_quote_submit_before>-->
            <!--<observers>-->
            <!--<authoriselist>-->
            <!--<type>model</type>-->
            <!--<class>Vinehousefarm_Authoriselist_Model_Observer</class>-->
            <!--<method>salesModelServiceQuoteSubmitBefore</method>-->
            <!--</authoriselist>-->
            <!--</observers>-->
            <!--</sales_model_service_quote_submit_before>-->
            <sales_order_save_before>
                <observers>
                    <authoriselist>
                        <type>singleton</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>salesOrderSaveBefore</method>
                    </authoriselist>
                </observers>
            </sales_order_save_before>
            <sales_quote_save_before>
                <observers>
                    <authoriselist>
                        <type>singleton</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>salesQuoteItemSaveBefore</method>
                    </authoriselist>
                </observers>
            </sales_quote_save_before>
            <sales_order_place_after>
                <observers>
                    <authoriselist>
                        <type>model</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </authoriselist>
                </observers>
            </sales_order_place_after>
            <catalog_product_save_after>
                <observers>
                    <authoriselist>
                        <type>singleton</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>catalogProductSaveAfter</method>
                    </authoriselist>
                </observers>
            </catalog_product_save_after>
            <Orderpreparation>
                <rewrite>
                    <Dispatcher>Vinehousefarm_Authoriselist_Helper_Orderpreparation_Dispatcher</Dispatcher>
                </rewrite>
            </Orderpreparation>
            <dropship_item>
                <observers>
                    <authoriselist>
                        <type>singleton</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>dropshipItem</method>
                    </authoriselist>
                </observers>
            </dropship_item>
        </events>
        <customer>
            <address>
                <formats>
                    <advice_slips translate="title" module="authoriselist">
                        <title>Advice Slips</title>
                    </advice_slips>
                </formats>
            </address>
        </customer>
        <template>
            <email>
                <dropship_template>
                    <label>Dropship</label>
                    <type>html</type>
                    <file>vinehousefarm/dropship.html</file>
                </dropship_template>
                <supplyer_template>
                    <label>Supplyer</label>
                    <type>html</type>
                    <file>vinehousefarm/supplyer.html</file>
                </supplyer_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Authoriselist before="Mage_Adminhtml">Vinehousefarm_Authoriselist_Adminhtml</Vinehousefarm_Authoriselist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <authoriselist>
                    <file>vinehousefarm/authoriselist.xml</file>
                </authoriselist>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_processing_index>
                <observers>
                    <vinehousefarm_authoriselist>
                        <type>singleton</type>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>controllerActionPredispatchAdminhtmlProcessing</method>
                    </vinehousefarm_authoriselist>
                </observers>
            </controller_action_predispatch_adminhtml_processing_index>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <vinehousefarm_authoriselist>
                        <class>authoriselist/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </vinehousefarm_authoriselist>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <orderpreparartion_create_tabs>
                <observers>
                    <vinehousefarm_authoriselist>
                        <class>Vinehousefarm_Authoriselist_Model_Observer</class>
                        <method>orderpreparartionCreateTabs</method>
                    </vinehousefarm_authoriselist>
                </observers>
            </orderpreparartion_create_tabs>
            <core_block_abstract_to_html_before>
                <observers>
                    <vinehousefarm_authoriselist>
                        <type>model</type>
                        <class>authoriselist/observer</class>
                        <method>addColumnToSalesOrderGrid</method>
                    </vinehousefarm_authoriselist>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <default>
        <authoriselist>
            <authoriselist_general>
                <weight_threshold>100</weight_threshold>
                <labels>9</labels>
            </authoriselist_general>
            <processing_general>
                <prev_days>30</prev_days>
            </processing_general>
            <dropship_general>
                <email_template>dropship_template</email_template>
                <supplyer_template>supplyer_template</supplyer_template>
            </dropship_general>
        </authoriselist>
        <customer>
            <address_templates>
                <advice_slips>
                    <![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{depend company}}{{var company}}|{{/depend}}|
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if city}}{{var city}},|{{/if}}
{{if region}}{{var region}}, {{/if}}{{if postcode}}{{var postcode}}{{/if}}|
{{var country}}
]]>
                </advice_slips>
            </address_templates>
        </customer>
    </default>
</config>