<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Scommerce_Heardaboutus>
			<version>0.0.2</version>
		</Scommerce_Heardaboutus>
	</modules>
	<global>
		<models>
			<heardaboutus>
				<class>Scommerce_Heardaboutus_Model</class>
			</heardaboutus>
			<checkout>
        		<rewrite>
        			<type_onepage>Scommerce_Heardaboutus_Model_Checkout_Type_Onepage</type_onepage>
        		</rewrite>
        	</checkout>
		</models>
		<resources>
			<heardaboutus_setup>
				<setup>
					<module>Scommerce_Heardaboutus</module>
				</setup>
			</heardaboutus_setup>
		</resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					  <scommerce_themeoverride_observer>
							<class>Scommerce_Heardaboutus_Model_Adminhtml_Observer</class>
							<method>overrideTheme</method>
					  </scommerce_themeoverride_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>
        </events>
		<helpers>
			<heardaboutus>
				<class>Scommerce_heardaboutus_Helper</class>
			</heardaboutus>
		</helpers>
		<fieldsets>
			<sales_convert_quote>
				<heard_about_us><to_order>*</to_order></heard_about_us>
			</sales_convert_quote>
			<customer_account>
				<heardaboutus><create>1</create><update>1</update></heardaboutus>
				<heardaboutusother><create>1</create><update>1</update></heardaboutusother>
			</customer_account>
		</fieldsets>
	</global>
	<frontend>
        <events>
			<controller_action_predispatch_checkout_onepage_saveBilling>
				<observers>
					  <heardaboutus_savebilling>
							<class>heardaboutus/observer</class>
							<method>saveBilling</method>
					  </heardaboutus_savebilling>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveBilling>
			<sales_convert_quote_to_order>
				<observers>
					<heardaboutus>
						<type>model</type>
						<class>heardaboutus/observer</class>
						<method>updateOrder</method>
					</heardaboutus>
				</observers>
			</sales_convert_quote_to_order>
			<customer_register_success>
				<observers>
					<heardaboutus_customer>
						<type>model</type>
						<class>heardaboutus/observer</class>
						<method>updateCustomer</method>
					</heardaboutus_customer>
				</observers>
			</customer_register_success>
			<checkout_onepage_controller_success_action>
				<observers>
					<heardaboutus_savecustomer>
						<type>model</type>
						<class>Scommerce_Heardaboutus_Model_Order_Observer</class>
						<method>saveOrder</method>
					</heardaboutus_savecustomer>
				</observers>
			</checkout_onepage_controller_success_action>
		</events>
    </frontend>
	<admin>
        <routers>
            <heardaboutus_admin>
                <use>admin</use>
                <args>
                    <module>Scommerce_Heardaboutus</module>
                    <frontName>heardaboutus_admin</frontName>
                </args>
            </heardaboutus_admin>
        </routers>
    </admin>
	<adminhtml>       
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <heardaboutus_savequote>
						<type>model</type>
                        <class>heardaboutus/observer</class>
                        <method>adminhtmlSalesOrderCreateProcessData</method>
                    </heardaboutus_savequote>
                </observers>
            </adminhtml_sales_order_create_process_data>
            <sales_convert_quote_to_order>
                <observers>
                    <heardaboutus_saveorder>
                        <type>model</type>
                        <class>heardaboutus/observer</class>
                        <method>updateOrder</method>
                    </heardaboutus_saveorder>
                </observers>
            </sales_convert_quote_to_order>
        </events>
		<acl> 
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <heardaboutuscsv>
                                    <title>Get WDYHAU CSV</title>
                                </heardaboutuscsv>
                            </children>
                        </report>
                    </children>
                </admin>
            </resources>
        </acl>
		<menu>
            <report>
                <children>
                    <heardaboutuscsv translate="title" module="heardaboutus">
                        <title>Get WDYHAU CSV</title>
                        <action>heardaboutus_admin/adminhtml_csv</action>
                        <sort_order>999</sort_order>
                    </heardaboutuscsv>
                </children>
            </report>
        </menu>
	</adminhtml>
</config>