<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Birdlibrary>
            <version>1.0.4</version>
        </Vinehousefarm_Birdlibrary>
    </modules>
    <global>
        <models>
            <birdlibrary>
                <class>Vinehousefarm_Birdlibrary_Model</class>
                <resourceModel>birdlibrary_resource</resourceModel>
            </birdlibrary>
            <birdlibrary_resource>
                <class>Vinehousefarm_Birdlibrary_Model_Resource</class>
                <entities>
                    <bird>
                        <table>vinehousefarm_bird</table>
                    </bird>
                    <bird_product>
                        <table>vinehousefarm_bird_product</table>
                    </bird_product>
                    <bird_link>
                        <table>vinehousefarm_bird_link</table>
                    </bird_link>
                    <bird_gallery>
                        <table>vinehousefarm_bird_gallery</table>
                    </bird_gallery>
                </entities>
            </birdlibrary_resource>
        </models>
        <blocks>
            <birdlibrary>
                <class>Vinehousefarm_Birdlibrary_Block</class>
            </birdlibrary>
        </blocks>
        <helpers>
            <birdlibrary>
                <class>Vinehousefarm_Birdlibrary_Helper</class>
            </birdlibrary>
        </helpers>
        <resources>
            <birdlibrary_setup>
                <setup>
                    <module>Vinehousefarm_Birdlibrary</module>
                </setup>
            </birdlibrary_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <birdlibrary_route_init>
                        <class>Vinehousefarm_Birdlibrary_Controller_Front_Router</class>
                        <method>initControllerRouters</method>
                    </birdlibrary_route_init>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Birdlibrary before="Mage_Adminhtml">Vinehousefarm_Birdlibrary_Adminhtml</Vinehousefarm_Birdlibrary>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <birdlibrary>
                    <file>vinehousefarm/birdlibrary.xml</file>
                </birdlibrary>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <birdlibrary>
                        <type>singleton</type>
                        <class>birdlibrary/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </birdlibrary>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <birdlibrary>
                    <files>
                        <default>Vinehousefarm_Birdlibrary.csv</default>
                    </files>
                </birdlibrary>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <library>
                <use>standard</use>
                <args>
                    <module>Vinehousefarm_Birdlibrary</module>
                    <frontName>library</frontName>
                </args>
            </library>
        </routers>
        <layout>
            <updates>
                <birdlibrary>
                    <file>vinehousefarm/birdlibrary.xml</file>
                </birdlibrary>
            </updates>
        </layout>
        <translate>
            <modules>
                <vinehousefarm_birdlibrary>
                    <files>
                        <default>Vinehouse_Birdlibrary.csv</default>
                    </files>
                </vinehousefarm_birdlibrary>
            </modules>
        </translate>
    </frontend>
</config>