<?xml version="1.0"?>
<config>
    <modules>
        <Vinehousefarm_Oldorders>
            <version>0.2.0</version>
        </Vinehousefarm_Oldorders>
    </modules>
    <global>
        <models>
            <oldorders>
                <class>Vinehousefarm_Oldorders_Model</class>
                <resourceModel>oldorders_resource</resourceModel>
            </oldorders>
            <oldorders_resource>
                <class>Vinehousefarm_Oldorders_Model_Resource</class>
                <entities>
                    <oldorders>
                        <table>vinehousefarm_order_history</table>
                    </oldorders>
                    <products>
                        <table>vinehousefarm_order_history_products</table>
                    </products>
                </entities>
            </oldorders_resource>
        </models>
        <blocks>
            <oldorders>
                <class>Vinehousefarm_Oldorders_Block</class>
            </oldorders>
        </blocks>
        <helpers>
            <oldorders>
                <class>Vinehousefarm_Oldorders_Helper</class>
            </oldorders>
        </helpers>
        <resources>
            <oldorders_setup>
                <setup>
                    <module>Vinehousefarm_Oldorders</module>
                </setup>
            </oldorders_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Vinehousefarm_Oldorders before="Mage_Adminhtml">Vinehousefarm_Oldorders_Adminhtml</Vinehousefarm_Oldorders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vinehousefarm_oldorders>
                    <file>vinehousefarm/oldorders.xml</file>
                </vinehousefarm_oldorders>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <oldorders>
                <use>standard</use>
                <args>
                    <module>Vinehousefarm_Oldorders</module>
                    <frontName>oldorders</frontName>
                </args>
            </oldorders>
            <customer>
                <args>
                    <modules>
                        <vinehousefarm_oldorders before="Mage_Customer">Vinehousefarm_Oldorders
                        </vinehousefarm_oldorders>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <vinehousefarm_oldorders>
                    <file>vinehousefarm/oldorders.xml</file>
                </vinehousefarm_oldorders>
            </updates>
        </layout>
    </frontend>
</config>